body {
    padding: 0;
    margin: 0;
}
  
#map,
body,
html {
    height: 100%;
}
  
.legend {
    padding: 15px;
    color: rgb(107, 75, 75);
    background-color: #fff;
    border-radius: 3px;
}
  
.legend i {
    float: left;
    width: 18px;
    height: 18px;
    margin-right: 4px;
    opacity: 1;
}